@import 'root';
i{
    color: var($primary-color);
}
h1,h2,h3,h5{
    color: var($primary-color);
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    main{
        width: 100%;
        height: 93vh;

        .container{
            box-sizing: border-box;
            padding-top: 25px;
            width: 28vw;
            height: 100%;
            background-color: rgb(241, 241, 241);
            position: relative;
            top: -13px;
            z-index: 2;
            box-shadow: 3px 3px 3px $shadow-color;
            padding-bottom: 250px;

            form{
                padding-bottom: 10px;
                position: relative;
                left: 3%;
                input{
                    width: 340px;
                    border-radius: 15px;
                    padding: 10px;
                    border-color: transparent;
                    background-color: #e0e0e0;
                    box-shadow: 1px 1px 1px #eeeeee;
                    caret-color: ($primary-color);
                    position: sticky;
                    z-index: 4;
                    color: ($primary-color);
                }::placeholder{
                    opacity:0.9;
                    color: ($primary-color);
                }
            }
            .chats{
                overflow-y: auto;
                width: 100%;
                height: 88vh;
                padding-top: 10px;
                display: block;
                box-sizing: border-box;
                padding-bottom: 30px;

                .chat{
                    margin-left: 2%;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    height: 45px;
                    background-color: rgb(226, 226, 226);
                    width: 95%;
                    align-items: center ;
                    box-sizing: border-box;
                    padding: 0 10px;
                    border-radius: 10px;
                    margin-bottom: 4px;

                    img{
                        background-color: ($primary-color);
                        border-radius: 50%;
                    }
                    .text{
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        left: -130px;
                        top: -5px;

                        a{
                            color: $primary-color;
                            font-size: 11px;
                            text-transform: capitalize;
                            position: relative;
                            left: 120px;
                        }
                        small{
                            font-size: 9.5px;
                            width: 300px;
                            position: relative;
                            left: 120px;
                            top: 2px;
                        }
                    }
                }
            }
        }


        }
    }


