:root{
    --primary-color: #2681b6;
    --theme-color : #f7f6f6;
    --shadow-color: #3e3e3e;
    --dark-color: #00030a;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
    background-image: url("../img/particles.png");

}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
*{
    font-family: monospace;
    list-style-type: none;
    text-decoration: none;
    box-shadow: none;
    border-radius: 2px;
    font-weight: 100;
    outline: 0;
}
h1,h2,h3,h5{
    color: var(--primary-color)
}
.btn-primary{
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--theme-color);
}
.btn-light{
    color: var(--primary-color);
    background-color: var(--theme-color);
    padding: 5px 10px;
    font-size: 14px;
}
header{
    display: inline-flex;
    width: 100%;
    background-color: var(--primary-color);
    backdrop-filter: blur(20px);
    z-index: 999;
    position: sticky;
    top: 0;
    height: 50px;
}
header .title{
    position: relative;
    left: 10px;
    color: #fff;
}
header .title img{
    position: relative;
    top: -10px;
}
header nav ul li a{
    position: absolute;
    float: right;

    right: 30px;
}
main{
    width: 100%;
    height: 50vh;
}
form{
    height: 100px;
    transition: all 1s ease-out;
}
form label{
    margin-bottom: 10px;
    color: var(--primary-color);
}
form *{
    margin-bottom: 20px;
    margin-top: 5px;
    caret-color: var(--primary-color);
    color: var(--primary-color)
}
form input{
    width: 580px;
    height: 40px;
    padding: 3px;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--primary-color);
    background-color: rgba(238, 238, 238, 0.671);
    backdrop-filter: blur(10px);
}

form input:hover,
form input:active,
form input:checked{
    outline: 0;
}
.error{
    width: 350px;
    height: 50px;
    background-color: white;
    border-right: 3px solid rgb(155, 28, 28);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    animation: fade 1s ease-in forwards 1;
}
.error span{
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;
    align-content: center;
    top: 10px;
    left: 5px ;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    border: 2px solid firebrick;
    cursor: pointer;
}
.error .err{
    position: relative;
    left: -80px;
    top: 5px;
    color: rgb(126, 15, 15);
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
form input:focus{
    outline: 0;
}
